* {
  background-color: #ffc5e6;
}

.app {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}
.monkey-logo{
  width: 200px; /* Set a fixed width for the image */
  height: auto; /* Maintain the aspect ratio */
}

.buttons{
  background-color: 		#f78bbf;
  margin:5px;
  border:none;
  border-radius: 5px;
}

.buttonContainer{
    display: flex;
    justify-content: center;

}

.successPage{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}